<% addresses.each do |address|%>
  <div class="col-lg-3 addressdiv border border-2">
    <% if address.defaultaddress %>
     <div class="default">Default Address</div>
     <hr/>
    <%end%>
    <div class="addressheading">
      <h1 class="head"><%= address.name%></h1>
    </div>
    <label class="addresscontent">
      <%= "#{address.street}\t#{address.city}\t#{address.state}\t"  %>
      <h1><%= address.postal_code%></h1>
      <h2>Phone number: <%= address.phonenumber%></h2>
    </label>
    <div id="footer">
      <label class="link">
        <%= link_to 'Edit', edit_address_path(address.id) %>
      </label>
      <% unless address.defaultaddress %>
      <label class="link">
        <%= link_to 'set Delivery Address', edit_defaultaddress_path(address.id) , method: "patch" %>
      </label>
      <%end%>
      <label class="link">
        <%= link_to 'Delete', address_path(address.id) , method: "delete" %>
      </label>

    </div>
  </div>
<%end%>
