<div class="All-content">
  <button type="button" class="btn btn-primary float-end confirmationbutton" data-bs-toggle="modal" data-bs-target="#confirmamount" data-bs-whatever="confirm Order">Confirm Order</button>
  <h1 class="heading">Address</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 addressboxing">
        <%= form_with(url: new_address_path, method: "get" ) do |form|%>
          <%= image_submit_tag("addAddress.png" , class: "AddAddress") %>
        <%end%>
        <h2>Add Address</h2>
      </div>
      <%= render partial: "addresscontainer", locals: {
          addresses: @addresses
      }%>
    </div>
  </div>

  <div class="modal fade" id="confirmamount" tabindex="-1" aria-labelledby="confirmAmount" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Place Your Order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <h1 class="addressconfirm">Place Your Order here: </h1>
           <% address_id  = 0 %>
           <% @addresses.each do |address|%>
            <% if address.defaultaddress %>
              <% address_id = address.id%>
              <div class="addressheading">
                <h1 class="head"><%= address.name%></h1>
              </div>
              <label class="addresscontent">
                <%= "#{address.street}\t#{address.city}\t#{address.state}\t"  %>
                <h1><%= address.postal_code%></h1>
                <h2>Phone number: <%= address.phonenumber%></h2>
              </label>
            <%end%>
           <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form_with url: orders_path(address: address_id) , method: "post" do |f| %>
          <%= f.submit "Cofirm Your Order",class: "btn btn-primary", disabled: address_id == 0? true : false %>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>
