<% if @current_user.roll != "admin" %>
  <div class="col-sm-5 col-md-4 col-lg-4 MenuItems">
<%else%>
  <div class="col-sm-5 col-md-3 col-lg-3 MenuItems">
<%end%>
    <% if @current_user.roll == "admin"%>
      <%= form_with(url: "/menu_items/update/#{item.id}", method: "put") do %>
        <%= check_box_tag("status", "isActive", item.status == "Active" ? true : false ,
                          class: "status",
                          onclick: "this.form.submit()",
                          )
        %>
      <%end%>
    <%end%>
    <div class="status"><%= item.status  %></div>
      <h3 class="Item-name"><%= item.name.capitalize()%><span class="Edit-items">
        <% if @current_user.roll == "admin"%>
          <abbr title="Add Menu Item">
            <%= link_to image_tag("edit.png", border: 0,class: 'Edit-category-image'),
                              edit_menu_item_path(item)
            %>
          </abbr>
        <%end%>
      </h3>
      <p class="Item-description"><%= item.description %></p>
      <h4 class="Item-price"> &#x20B9; <%=item.price%></h4>
      <h4 class="Item-category"><%= MenuCategory.where(id: item.menu_category_id ).first.name%></h4>
      <% if @current_user.roll != "admin"%>
        <div class="addcart">
          <button id="minu1" class="min">-</button>
          <button class="btn" id="addi1">Add </button>
          <button id="plus1" class= "add">+</button>
        </div>
      <%end%>
    </div>
