<div class="All-content">
   <h1 class="heading">Menu Items</h1>
   <div class="container">
      <div class="row">
         <div class="col-lg-8 bg-light">
            <%= render partial: "layouts/searchbox", locals:
               { url_path: search_menu_item_path,
                 place: "Search",
                 method: "get"
               }
            %>
         </div>
         <div class="col-lg-4">
            <%if @current_user.roll == "admin"%>
               <abbr title="Add Menu Item">
                  <%= link_to menu_add_item_path, class: "btn new-btn " do %>
                     <%= image_tag("addmenu.png", border: 0,class: 'add_menu_items') %>New
                  <%end%>
               </abbr>
            <%end%>
         </div>
      </div>
   </div>
   <div class="container my-3">
      <div class="row">
            <div class="<%= @current_user.roll != "admin"? 'col-lg-8' : "col-lg-12"%>">
            <div class="row">
               <%= render 'showmenuitem', items: @items %>
            </div>
         </div>
         <% if @current_user.roll != "admin"%>
            <div class="col-lg-4">
               <%= render :partial => "carts/cartitems"%>
            </div>
         <%end%>
      </div>
   </div>
</div>
