<div class="col-lg-3  pe-auto shadow-lg col-9 col-sm-9 mb-3 col-md-3  ms-5 bg-white p-4">
        <%=image_tag "#{image_url}.png", class:"invoice-imageicon"%>
         <div class="float-end">
          <h1 class="h3 <%=color%>"><%= number%></h1>
          <p class="fw-bold h5 <%=content_color%>"><%=content%></p>
        </div>
</div>
