<div class="All-content">
  <h1 class="heading">Users</h1>
     <div class="container">
      <div class="row">
         <div class="col-lg-8 bg-light">
            <%= render partial: "layouts/searchbox", locals:
               { url_path: search_users_path,
                 place: "Search",
                 method: "get"
               }
            %>
         </div>
         <div class="col-lg-4">
            <%if @current_user.roll == "admin"%>
               <abbr title="Add Menu Item">
                  <%= link_to new_user_path, class: "btn new-btn " do %>
                     <%= image_tag("addmenu.png", border: 0,class: 'add_menu_items') %>New
                  <%end%>
               </abbr>
            <%end%>
         </div>
      </div>
   </div>
<div class="container bootstrap snippets usertable bootdey">
    <div class="table-responsive">
    	<table class="table colored-header datatable project-list">
    		<thead>
    			<tr>
            <th class="heading">Id</th>
    				<th class="heading">Name</th>
    				<th class="heading">Email</th>
    				<th class="heading">Phone Number</th>
    				<th class="heading">role</th>
            <th class="heading">Delete</th>
    			</tr>
    		</thead>
    		<tbody>
          <% @users.each do |user|%>
    		    <tr class="tablerow">
    				  <td><%= user.id %></td>
    				  <td><%= user.name%></td>
    				  <td><%= user.email%></td>
    				  <td><%= user.phonenumber%></td>
    				  <td>
                <%= form_with url:"users/roll/#{user.id}" ,  method: :patch  do |form|%>
                  <%= form.select(:roll, options_for_select( [["clerk" , "clerk"], ["admin" , "admin"] , ["user" , "user"]] , user.roll),
                      {}, { :class => 'btn-outline-success selection-input'}  )
                  %>
                  <%= form.submit "submit",
                    class: "btn btn-outline-dark btn-sm"
                  %>
                <%end%>
              </td>
              <td>
                <%= form_with(url: "/users/#{user.id}",
                    method:"delete") do
                %>
                  <%= image_submit_tag( "delete.png",
                      class: 'Delete-category-image')
                  %>
                <%end%>
              </td>
    			  </tr>
          <%end%>
        </tbody>
    	</table>
    </div>
</div>
</div>
