<div class="All-content">
<h1 class="heading"> Create Users</h1>
<section class="UserNew">
  <%= form_with url: users_path do |form| %>
    <div class = "Form-section">
      <label class="FormInput-label"> First Name* </label>
      <%= form.text_field :first_name,
                          class: "Form-input",
                          autofocus: true,
                          required: true,
                          autocomplete: "off"
      %>
    </div>
    <div class = "Form-section">
      <label class="FormInput-label">
        Last Name
      </label>
      <%= form.text_field :last_name,
                          class: "Form-input",
                          autocomplete: "off"
      %>
    </div>
    <div class = "Form-section">
      <label class="FormInput-label">
        Email*
      </label>
      <%= form.email_field :email,
                           class: "Form-input",
                           required: true,
                           autocomplete: "off"
      %>
    </div>
    <div class = "Form-section">
      <label class="FormInput-label">Phone number* </label>
      <%= form.number_field :phone,
                          class: "Form-input",
                          autofocus: true,
                          required: true,
                          autocomplete: "off",
                          maxlength: 13,
                          minlength: 10
      %>
    </div>
    <div class = "Form-section">
      <label class="FormInput-label">
        Password*
      </label>
      <%= form.password_field :password,
                              class: "Form-input",
                              required: true,
                              autocomplete: "off"
      %>
    </div>
    <%if @current_user  && @current_user.roll == "admin"%>
      <div class = "Form-section">
        <label class="FormInput-label">
          Roll*
        </label>
        <%= form.select(:roll, options_for_select( [["clerk" , "clerk"], ["admin" , "admin"] ] , "clerk"),
              {}, { :class => 'btn-outline-dark selection-input'}  )
        %>
      </div>
    <%end%>
    <%= form.submit "Create Account",
                    class: "Form-submit"
    %>
  <% end %>
</section>
</div>
