<div class="All-content">
  <h1 class="heading"><%="Your " unless  @current_user.roll == "admin" %>Orders</h1>
  <%if @current_user.roll == "admin"%>
  <div class="container">
    <div class="row">
         <div class="col-lg-5 bg-light">
            <%= form_with(url: search_orders_path , method: "get") do |form|%>
            <%= form.text_field :id,
                                class: "SearchItem",
                                autocomplete: "off",
                                placeholder: "Enter id",
                                required: true
            %>
            <%= form.submit "Search",
                class: "btn btn-outline-dark Search Item-button"
            %>
             <label class="categoryheading">Search Order</label>
                <%= form.select(:search, options_for_select([["order_id" , "id"],["user_id" , "user_id"]] , @search),
                      {}, { :class => 'btn-outline-dark selection-user'}  )
                %>
                <%end%>
            </label>
         </div>
         <div class="col-lg-5">
          <%=form_with(url: search_order_status_path   , method: "get") do |form| %>
            <label class="categoryheading">Show Order</label>
                <%= form.select(:status, options_for_select([["Pending" , "pending"],["Delivered" , "delivered"], ["Cancel" , "cancel"], ["walk-in-customer", "walkin"]] , @status_order),
                      {}, { :class => 'btn-outline-dark selection-user', onchange: 'this.form.submit();' }  )
                %>
            </label>
          <%end%>
         </div>
    </div>
  </div>
  <%end%>
  <div class="container">
  <%unless @orders.nil? %>
  <% @orders.each do |order|%>
  <%orderAddress = order.address%>
    <%= render partial: "orders", locals: {
       orderAddress: orderAddress,
       order: order,
       totalAmount: "#{order.status == "cancel" ? order.totalvalue*-1 : order.totalvalue }"
    } %>
  <%end%>
  <%else%>
    <h1 class="m-3 alert alert-danger">No Values Found</h1>
  <%end%>
  </div>

</div>
