<%unless(@cartitems.empty?)%>
<%if @current_user.roll == "clerk"%>
    <button class="btn btn-primary float-end mb-3 me-5" data-bs-toggle="modal" data-bs-target="#confirmamount" data-bs-whatever="confirm Order">
    Customer Order
    </button>
  <%end%>
<h1 class="carthead" >Cart</h1>
<div id="cartitems">
  <div id="itemsamount">
    <% @cartitems.each  do |item|%>
      <div class='singleitem' >
        <h1 class='itemname'> <%= item.menu_item_name %>  </h1>
        <p  class='cartquantity btn-primary'><%= item.quantity %> </p>
        <p  class='itemprice'> <%= item.menu_item_price %> </p>
      </div>
    <%end%>

  </div>
  <div class="cartTotaldiv">
  <h3 id="itemtotal" class="subtotal">Subtotal</h3>
  <h4 id="totalamount" class="totalcart"><%= @totalamount %></h4>
  </div>
</div>
<div>
  <%= link_to address_index_path, id: "subtn" do %>
        Checkout
  <%end%>

</div>
<%else%>
  <h1 class="carthead" >Empty Cart</h1>
<%end%>
