<div class="modal fade" id="editCategory<%=category.id%>" tabindex="-1" aria-labelledby="editCategory" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="oeditCategoryLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: category) do |form| %>
          <div class="field">
            <%= form.label :name, class: "h5" %>
            <%= form.text_field :name, class: "form-control", required: true%>
            <%= form.submit "Edit",
                class: "btn btn-outline-success Category-button ms-3"
            %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
