<div class="All-content">
  <h1 class="heading">Menu Category</h1>
  <div class="Menu-category row">
    <%if @current_user.roll == "admin"%>
       <%= render partial: "layouts/searchbox", locals:
        {
          url_path: "/menu_category",
          place: "Add",
          method: "post",
        }
      %>
    <%end%>
    <%= render partial: "layouts/searchbox", locals:
        {
          url_path: search_menu_category_path,
          place: "Search",
          method: "get",
        }
    %>
  </div>
   <% if @current_user.roll != "admin" %>
      <%= render :partial => "carts/cartitems"%>
   <%end%>
  <div class="row MenuCategory-items">
    <% @categories.each do |category|%>
      <div class="col-7" >
        <div class="Categories row">
          <div class="col-4">
            <%if @current_user.roll == "admin"%>
              <%= form_with(url: "/menu_category/update/#{category.id}", method: "put") do %>
                <%= check_box_tag("status", "isActive", category.status ,
                              class: "status",
                              onclick: "this.form.submit()",
                              )
                %>
              <%end%>
            <%end%>
            <%= link_to  category.name,
                menu_items_path(item_id: category.id)
            %>
          </div>
          <%if @current_user.roll == "admin"%>
            <div class="col-1">
              <%= link_to image_tag("edit.png", border: 0,class: 'Edit-category-image'),
                      edit_menu_category_path(category)
              %>
            </div>
            <div class="col-1">
              <%= form_with(url: "/menu_category/#{category.id}",
                method:"delete") do
              %>
                <%= image_submit_tag( "delete.png",
                                class: 'Delete-category-image')
                %>
              <%end%>
            </div>
          <%end%>
        </div>
        <br>
      </div>
    <%end%>
  </div>
</div>
