<div class="All-content">
  <h1 class="heading">Menu Category</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 bg-light">
        <%= render partial: "layouts/searchbox", locals:
          {
            url_path: search_menu_category_path,
            place: "Search",
            method: "get",
          }
        %>
      </div>
      <div class="col-lg-4 float-end">
            <%if @current_user.roll == "admin"%>
               <abbr title="Add Menu Category">
                  <button class="btn new-btn" data-bs-toggle="modal" data-bs-target="#addCategory" data-bs-whatever="Add Category">
                    <%= image_tag("addmenu.png", border: 0,class: 'add_menu_items') %>New
                  </button>
               </abbr>
            <%end%>
      </div>
    </div>
  </div>
  <div class="container  mt-3">
    <div class="row">
      <div class="<%= @current_user.roll == "admin"? "col-lg-12": "col-lg-8"%>">
        <div class="container datatable mt-5">
    	      <table class="table table-striped">
    		      <thead class="bg-dark text-white">
    			      <tr>
                  <%if @current_user.roll == "admin"%>
                    <th class="heading">Id</th>
                  <%end%>
    				      <th class="heading">Name</th>
    				      <th class="heading">Active</th>
                  <%if @current_user.roll == "admin"%>
    				        <th class="heading">Update</th>
                    <th class="heading">Delete</th>
                  <%end%>
    			      </tr>
    		      </thead>
    		      <tbody>
                <% @categories.each do |category|%>
                  <tr class="hoverdelete">
                      <%if @current_user.roll == "admin"%>
                        <td><%= category.id %></td>
                      <%end%>
                      <td>
                        <%= link_to category.name, menu_items_path(item_id: category.id ,category_name: category.name ), class: "link-tag" %>
                      </td>
                      <td>
                        <%if @current_user.roll == "admin"%>
                          <%= form_with(url: "/menu_category/update/#{category.id}", method: "put") do %>
                            <%= check_box_tag("status", "isActive", category.status ,
                              class: "Active-category d-flex",
                              onclick: "this.form.submit()",
                              )
                            %>
                          <%end%>
                        <%end%>
                        <h1 class='<%= category.status? ? "Active-category" : "InActive-category"%>'>
                          <%= category.status? ? "Active" : "InActive"  %>
                        </h1>
                      </td>
                        <%if @current_user.roll == "admin"%>
                        <td>
                          <div  data-bs-toggle="modal" data-bs-target="#editCategory<%=category.id%>" data-bs-whatever="editCategory">
                            <%= image_tag("edit.png", border: 0,class: 'Edit-category-image') %>
                          </div>
                        </td>
                        <td>
                          <%= form_with(url:"/menu_category/#{category.id}",
                              method:"delete",data: {confirm: "Are you sure?"}) do
                          %>
                            <%= image_submit_tag( "delete.png",
                              class: 'Delete-category-image')
                            %>
                          <%end%>
                          </td>
                        <%end%>
                  </tr>
                  <%= render partial: "modal", locals: {
                     category: category
                  }%>
                <%end%>
              </tbody>
            </table>
        </div>
      </div>
      <% if @current_user.roll != "admin" %>
        <div class="col-lg-4 sticky-right">
          <%= render :partial => "cart_items/cartitems"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="addCategory" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%if @current_user.roll == "admin"%>
         <h1 class="head">Add Category</h1>
         <div class="Search-container col-3 mt-3">
         <%= form_with(url: "/menu_category" , method: "post") do |form|%>
            <%= form.text_field :name,
                                class: "SearchItem",
                                autocomplete: "off",
                                placeholder: "add",
                                required: true,
                                autofocus: true
            %>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <%= form.submit "Add",
                class: "btn btn-outline-dark Search Item-button"
            %>
         <%end%>
         <%end%>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmamount" tabindex="-1" aria-labelledby="confirmAmount" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Place Orders</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <h1 class="addressconfirm">Place Customers Order here: </h1>
         <div class="heading">
            Are You sure ?
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form_with url: orders_path , method: "post" do |f| %>
          <%= f.submit "Cofirm Orders",class: "btn btn-primary", id:"buttonConfirmOrder"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
