<nav class="navbar navbar-light bg-dark">
   <div class="container-fluid">
    <h3 class="navbar-title" >CafeteriaManagement</h3>
    <%if @current_user%>
      <div class="nav-items">
        <%= image_tag "user.png", :class => "user-image" %>
        <%= link_to @current_user.name.capitalize() , "/users/#{@current_user.id}", class: "link-tag profile"%>
        <%= form_tag(destroy_session_path , method: "delete",class: "navbar-items link-tag ") do %>
        <%= submit_tag("Signout" , :class => "btn btn-outline-light") %>
        <% end %>
      </div>
    <%end%>
  </div>

</nav>
<div class="main-menu">
  <ul>
    <section class="home">
      <%= render 'layouts/setnavbar'%>
    </section>
  </ul>
</div>
